<!DOCTYPE html>
<html>
  <head>
    <title>Robolympics</title>

    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="all" charset="utf-8">

    <script src="/javascripts/lib/sockjs-0.3.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/lib/backbone.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/lib/ICanHaz.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>